html {
    background-image: url('capstoneBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.headers {
    background-image: url(banner-blue-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(9, 192, 18);
    border-width: 5px;
}
input {
    background-color: rgb(70, 70, 70);
    border: 2px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: auto;
    border-style: outset;
    color: rgb(202, 202, 202);
    padding: 10px;
    border-color: black;
}

select {
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: auto;
}

form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: 2px black;
}

h1, h2, h3, h4 {
    text-align: center;
    display: block;
}

#save, #create, #load, #view, #delete, #home, #cancel, select {
    margin-left: auto;
    margin-right: 10px;
    width: 290px;
}

#register {
    width:100%
}
ul {
    list-style: none;
    display: block;
}

#text_area {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    width: 290px;
}

#viewFile, #createFile, #editFile {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    width: 590px;
}

img {
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px outset black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(216, 218, 221);
}

th {
    background-color: rgb(66, 65, 65);
    color: rgb(250, 250, 250);
}

td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    text-align: left;
    width: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }